<div class="container mat-elevation-z8">
    <h1 class="full-width">Criando Chamado</h1>
    <img class="full-width" src="assets/img/chamado-create.svg" alt="Chamado image">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Titulo do chamado</mat-label>
          <input 
          [(ngModel)]="chamado.titulo"
          name="titulo"
          [formControl]="titulo"
          required
          matInput placeholder="Ex. Manutenção notebook">
        </mat-form-field>
    </form>

    <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>Selecione um status</mat-label>
            <mat-select 
              [(ngModel)]="chamado.idStatus"
              name="status"
              [formControl]="idStatus" required>
              <mat-option value="0">ABERTO</mat-option>
              <mat-option value="1">EM ANDAMENTO</mat-option>
              <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Selecione uma prioridade</mat-label>
            <mat-select 
              [(ngModel)]="chamado.idPrioridade"
              name="prioridade"
              [formControl]="idPrioridade" required>
              <mat-option value="0">BAIXA</mat-option>
              <mat-option value="1">MÉDIA</mat-option>
              <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="tecnico">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Selecione um técnico</mat-label>
            <mat-select 
              [(ngModel)]="chamado.idTecnico"
              name="idTecnico"
              [formControl]="idTecnico" required >
              <mat-option *ngFor="let tecnico of tecnicos" value="{{ tecnico.id }}">{{ tecnico.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Selecione um cliente</mat-label>
            <mat-select 
              [(ngModel)]="chamado.idCliente"
              name="idCliente"
              [formControl]="idCliente" required >
              <mat-option *ngFor="let cliente of clientes" value="{{ cliente.id }}">{{ cliente.nome }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="form">      
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Deixe uma observação</mat-label>
          <textarea class="observacoes" 
          [(ngModel)]="chamado.observacoes"
          name="observacoes"
          [formControl]="observacoes" 
          required
          matInput placeholder="Ex. Notebook não funciona..."></textarea>
        </mat-form-field>
    </form>

    <button (click)="create()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-raised-button color="primary">Adicionar</button>
    <button routerLink="../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Cancelar</button>

    <p class="full-width">Desenvolvido por Dayse Santos</p>
</div>