.container{
    height: 100%;
    background: linear-gradient(90deg, rgba(70,127,195,1) 0%, rgba(105,151,205,1) 50%, rgba(127,143,162,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 25rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1{
    width: 100%;
    text-align: center;
}

img{
    height: 12rem;
    width: 100%;
    margin: 1rem auto 1rem auto;
}

button{
    margin-top: 1rem;
}

.full-width{
    width: 100%;
}